h1 {
  color: #3facde;
}

.product-container {
  background-color: #e0f2fa;
  border: 1px solid #85caea;
  border-radius: 10%;
 
  
}



// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
